<h1>Edit <%= @user.name %> </h1>
<%= form_for(@user) do |t| %>
<%= t.label :name %>
<%= t.text_field :name %><br>
<%= t.label :email %>
<%= t.email_field :email %><br>
<%= t.label :password %>
<%= t.password_field :password %><br>
<%= t.label :nausea %>
<%= t.number_field :nausea  %><br>
<%= t.label :happiness %>
<%= t.number_field :happiness %><br>
<%= t.label :tickets %>
<%= t.number_field :tickets %><br>
<%= t.label :height %>
<%= t.number_field :height %><br>

<%= t.submit "Update" %>

<% end %>
