<h1>
  <%= gravatar_for @user %>
  Hi, <%= @user.name %>
</h1>
<p><%= link_to 'Add', 'https://en.gravatar.com/' %> profile picture.</p><br>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %> </p>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></P>
  <% if @user.admin %>
  <p> <font color="red">Admin</font> </p>
  <% end %>
  <%= link_to "edit", edit_user_path %>

  <h1>Your Rides</h1>
  <% @user.rides.each do |ride| %>
<ul>
  <li> <%= ride.attraction.name %> </li>
</ul>
<% end %>

  <% if flash[:notice] %>
   <%= flash[:notice] %>
   <% end %><br>
  <%= link_to "attractions", attractions_path %>
