<h1> New Attraction </h1>

<%= form_for(@attraction) do |t| %>
<%= t.text_field :name, placeholder: "Name" %><br>
<%= t.number_field :min_height, placeholder: "Minimum Height" %><br>
<%= t.number_field :nausea_rating, placeholder: "Nausea Rating" %><br>
<%= t.number_field :happiness_rating, placeholder: "Happiness Rating" %><br>
<%= t.number_field :tickets, placeholder: "Tickets" %><br>

<%= t.submit "Create Attraction" %>
<% end %>
