<h1> <%= @attraction.name %> </h1>
<p>Ticket: <%= @attraction.tickets %></p>
<p>Minimum Height: <%= @attraction.min_height  %> </p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>

<%= link_to "Edit", edit_attraction_path(@attraction) %><br>

<%= button_to "take ride", ride_path(:id => @attraction.id), method: :post %>
